@{
    ViewData["Title"] = "Order Management";
    Layout = "_Layout";
}

<div id="gridContainer">

</div>

@section Scripts {
    <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/dx.all.js"></script>
    <script src="~/js/Home/index.js"></script>
}